<div class="inputBlock">
    <p class="inputBlock_label  {{classLabel}}">{{label}}</p>
    <input id={{id}} name={{name}} type={{type}} placeholder={{placeholder}} class="inputBlock_input {{classInput}}"/>
    <p class="inputBlock_message">{{errorMessage}}</p>
</div>
