<div class="inputBlock">
    <p class="inputBlock_label">{{label}}</p>
    <input id={{id}} name={{name}} type={{type}} placeholder={{placeholder}} class="inputBlock_input"/>
    <p class="inputBlock_message">{{errorMessage}}</p>
</div>
