<div class="messagesItem {{classNames}}" id={{id}}>
    <p class="messageItem__text">{{text}}</p>
    <img src={{image}} alt="image" class="messageItem__image">
    <p class="messageItem__date">{{data}}</p>
</div>
